.header{
    background-image: url(img/Pizzakep.jpg);
    height: 100%;
    color: white;
    padding: 250px;
    align-items: center;
    background-position: 60%;
}
.navbarjobb{
    float: right;
    color: white;
}
.tortenet{
    background-color: #222222;
    padding: 5px;
    color: white;
    height: 250px;
    padding-left: 10%;
    padding-right: 10%;
    
}
.menu{
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10% ;
    padding-right: 10%;
    height: 300px;
}
.gombok{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding: 0 17px;
    display: inline-block;
    width: 100px;
}
.specialitasok{
    background-color: #222222;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 900px;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
#jobbo{
    margin-top: auto;
    margin-left: 35%;
    padding-top: 20px;
}
#balo{
    float: left;
    text-align: right;
    margin-left: 10%;
    padding-top: 20px;
    
}
.balpizza{
    float: right;
}
.nyitvatartas{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
}
footer{
    background-color: black;
    margin: auto;
    padding: 5px;
    color: grey;
    text-align: center;
}
a{
    color: grey;
}
#hr{
    margin-left: 10%;
    margin-right: 10%;
}
.nyitva{
    color: rgb(207, 207, 207);
    padding-left: 450px;
    width: 25%;
}
#nyitvaa{
    color: white;
    padding-left: 450px;

}
.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: 0;
}
.gallery__item--2{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 0;
}
.gallery__item--3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}
.gallery__item--4{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}
.gallery__item--5{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
    margin: 0;
}
#szeretet{
    padding-left: 200px;
    font-size: 20px;
}
#probald{
    padding-left: 750px;
}
