body{
    font-size: 100%;
}
.parent2 {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 700px;
    grid-row-gap: 0px;
    background-image: url(img/Pizzakep.jpg);
    color: white;
    align-items: center;
    background-position: 40%;
    height: 600px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 4 / 2 / 6; }
.navbarjobb{
    color: white;
}
.pizzeriabal{
    margin: 0;
    padding-left: 20%;
}

.tortenet{
    background-color: #222222;
    padding: 5px;
    color: white;
    height: 250px;
    padding-left: 10%;
    padding-right: 10%;
    
}
.menu{
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10% ;
    padding-right: 10%;
    height: 300px;
    padding-top: 3%;
}
.gombok{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding: 0 17px;
    display: inline-block;
    width: 100px;
    margin: 10px;
}
.specialitasok{
    background-color: #222222;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 900px;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
#jobbo{
    margin-top: auto;
    margin-left: 35%;
    padding-top: 20px;
}
#balo{
    float: left;
    text-align: right;
    margin-left: 10%;
    padding-top: 20px;
    
}
footer{
    background-color: black;
    margin: auto;
    padding: 5px;
    color: grey;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
a{
    color: grey;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: 0;
}
.gallery__item--2{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 0;
}
.gallery__item--3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}
.gallery__item--4{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}
.gallery__item--5{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
    margin: 0;
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: rgb(207, 207, 207);
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Helvetica, sans-serif;
    font-size: large;
    padding-top: 2%;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 1 / 3 / 9 / 5; }
    .div3 { grid-area: 1 / 5 / 4 / 7; }
.div2{
    width: 90%;
}
.div1{
    text-align: right;
    padding-right: 10%;
}
.bottm_center{
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    bottom: 10%;
    
}
.bottm_center1{
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    bottom: 20%;
    
}
.bottm_center2{
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    bottom: 20%;
    
}
.bottm_center3{
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    bottom: 30%;
    
}
.bottm_center4{
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    bottom: 10%;
}
@media only screen and (max-width: 1300px){
    .specialitasok{
        height: 850px;
    }
}
@media only screen and (max-width: 1200px){
    .specialitasok{
        height: 800px;
    }
}
@media only screen and (max-width: 1085px){
    #jobbo{
        padding-left: 5%;
    }
    .menu{
        padding-left: 0;
        padding-right: 0;
    }
    .specialitasok{
        height: 750px;
    }
}
@media only screen and ( max-width: 1023px){
    .specialitasok{
        padding-left: 5%;
        padding-right: 5%;
    }
    .bottm_center{
        bottom: 15%;
    }
    .bottm_center2{
        bottom: 25%;
    }
    .bottm_center3{
        bottom: 35%;
    }
    .bottm_center1{
        bottom: 25%;
    }
}
@media only screen and (max-width: 991px){
    #piadina2{
        width: 90%;
    }
    #tort{
        width: 90%;
    }

}
@media only screen and (max-width: 900px){
    #jobbo{
        padding-left: 8%;
    }
    .specialitasok{
        height: 700px;
    }
}
@media only screen and (max-width: 830px){
    .tortenet{
        height: 300px;
    }
}
@media only screen and (max-width: 810px){
    #balo{
        margin-left: 0px;
    }    
}
@media only screen and (max-width: 800px ){
    .bottm_center{
        bottom: 20%;
    }
    .bottm_center2{
        bottom: 30%;
    }
    .bottm_center3{
        bottom: 40%;
    }
    .bottm_center1{
        bottom: 30%;
    }
}
@media only screen and (max-width :670px){
    .tortenet{
        height: 350px;
    }
    .bottm_center1{
        bottom: 40%;
    }
}
@media only screen and (max-width: 635px){
    .tortenet{
        padding-left: 0%;
        padding-right: 0%;
        height: 370px;
    }
    .parent{
        height: 800px;
    }
}
@media only screen and (max-width: 515px){
    #balo{
        float: none;
    }
    #jobbo{
        text-align: left;
        margin: 0;
    }
    .tortenet{
        height: 400px;
    }
}