.header{
    background-image: url(img/Pizzakep.jpg);
    height: 100%;
    color: white;
    padding: 200px;
    align-items: center;
    background-position: 60%;
}
.navbarjobb{
    float: right;
    color: white;
}
.tortenet{
    background-color: #222222;
    padding: 5px;
    color: white;
    height: 200px;

}
.menu{
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10% ;
    padding-right: 10%;
}
.gombok{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding: 0 17px;
    display: inline-block;
}
.specialitasok{
    background-color: #222222;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
#jobbo{
    margin-top: auto;
    text-align: left;
    margin-left: 50%;
    margin-right: 20%;
}
#balo{
    float: left;
    text-align: right;
    margin-left: 30%;
    
}
#pizza{
    height: 300px;
    width: 420px;
    display: inline-block;
    margin: auto;
    padding: 30px;
}
#pecsenye{
    height: 400px;
    width: 250px;
    display: inline-block;
    margin: auto;
    padding: 20px;
}
#vegyeszoldseg{
    height: 250px;
    width: 300px;
    display: inline-block;
    margin: auto;
    padding: 30px;
}
#szalamispizza{
    height: 250px;
    width: 300px;
    display: inline-block;
    margin: auto;
    padding: 30px;
}
#leves{
    height: 200px;
    width: 250px;
    display: inline-block;
    margin: auto;
    padding: 30px;
}
.balpizza{
    float: right;
}